<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Street brawler</title>
    <link rel="stylesheet" href="stylesheets/game.css">
</head>
<body>
    <canvas id="game_field"></canvas>
    <div id="game_info" style="display: flex; flex-direction: column; width: fit-content">
        <h3 id="player_name" style="display: flex">Игрок: noname</h3>
        <label id="current_level"
               style="display: block; margin-bottom: 10px">Текущий уровень: 1</label>
        <label id="player_score"
               style="display: block; margin-top: 15px; margin-bottom: 10px">Счёт: 0</label>
        <div style="display: block; margin-top: 15px; width: 350px">
            <label id="keymap">Клавиши для управления:</label>
            <ul>
                <li style="margin-bottom: 8px">Стрелка влево/вправо - переместить фигуру</li>
                <li style="margin-bottom: 8px">Стрелка вверх - повернуть фигуру</li>
                <li style="margin-bottom: 8px">Стрелка вниз - опустить фигуру вниз</li>
                <li style="margin-bottom: 8px">Пробел - пауза/старт игры/вернуться после проигрыша</li>
            </ul>
        </div>
        <button id="game_start">
            Начать игру
        </button>
        <button
                id="to_start_screen_from_game_screen"
                onclick="ScreenScript.toStartScreen()">
            На главное меню
        </button>
    </div>

<script src="../scripts/ScreenScript.js"></script>
<script src="../scripts/game.js" type="module"></script>
<script src="../scripts/GameManager.js" type="module"></script>
<script src="../scripts/MapManager.js" type="module"></script>
<script src="../scripts/utilities.js"></script>
</body>
</html>