<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Street brawler</title>
    <link rel="stylesheet" href="stylesheets/game.css">
</head>
<body>
    <div id="game_div">
        <canvas id="game_field"></canvas>
        <div id="game_info" style="display: flex; flex-direction: column; width: fit-content">
            <h3 id="player_name" style="display: flex">Игрок: noname</h3>
            <div style="display: flex; flex-direction: row">
                <label id="current_level_title"
                       style="display: block; margin-bottom: 10px">Текущий уровень: </label>
                <label id="current_level_value"
                       style="display: block; margin-bottom: 10px; margin-left: 8px">1</label>
            </div>
            <div style="display: flex; flex-direction: row">
                <label id="player_score_title"
                       style="display: block; margin-top: 15px; margin-bottom: 10px">Счёт: </label>
                <label id="player_score_value"
                       style="display: block; margin-top: 15px; margin-bottom: 10px; margin-left: 8px">0</label>
            </div>
            <div style="display: flex; flex-direction: row">
                <label id="hero_health_title"
                       style="display: block; margin-top: 15px; margin-bottom: 10px">Здоровье: </label>
                <label id="hero_health_value"
                       style="display: block; margin-top: 15px; margin-bottom: 10px; margin-left: 8px">150</label>
            </div>

            <div style="display: block; margin-top: 15px; width: 350px">
                <label id="keymap">Клавиши для управления:</label>
                <ul>
                    <li style="margin-bottom: 8px">WASD - управление персонажем</li>
                    <li style="margin-bottom: 8px">F - атака</li>
                    <li style="margin-bottom: 8px">E - подобрать предмет</li>
                    <li style="margin-bottom: 8px">Q - перейти на след уровень (на финише)</li>
                </ul>
            </div>
            <button id="restart_game" style="visibility: hidden">
                Перезапустить уровень
            </button>
            <button id="game_start" style="visibility: visible">
                Начать игру
            </button>
            <button id="to_start_screen_from_game_screen"
                    onclick="ScreenScript.toStartScreen()">
                На главное меню
            </button>
        </div>
    </div>
    <label id="game_message"></label>

<script src="../scripts/ScreenScript.js"></script>
<script src="../scripts/game.js" type="module"></script>
<script src="../scripts/GameManager.js" type="module"></script>
<script src="../scripts/MapManager.js" type="module"></script>
<script src="../scripts/utilities.js"></script>
</body>
</html>