doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="style.css")
        title Страница
    body
        div(id="main_screen")
        h1.main-title Библиотека
        div.main-page-part
            hr.divider(id="main_divider")
            div.library-block
                div.list-of-books-block(id="list_of_books_block")
                    div.title-and-button
                        h3.title-of-list Список книг:
                        button.add-new-book(id="add_new_book", onclick="scriptStart()") +Книга
                    div.list-of-books(id="list_of_books")
                - const val = value
                div.list-of-filters-block(id="list_of_filters_block")
                    h3.title-of-list Фильтры:
                    p.filter-title Название содержит:
                    input.filter-input-text(type="text", placeholder="Не выбрано")
                    p.filter-title ФИО автора содержит:
                    input.filter-input-text(type="text", placeholder="Не выбрано")
                    p.filter-title Возврат к дате:
                    input.filter-input-date(type="date")
                    div.filter-list-of-status-block
                        p.filter-title Статус книги:
                        div.filter-list-of-status
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_in_stock", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_in_stock") В наличии
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_unavailable", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_unavailable") Занята
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_overdue", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_overdue") Просрочена
                    button.filter-accept ПРИНЯТЬ
        script(src="scripts/index.js", type=module)
        script(src="scripts/TableRowBook.js", type=module)
        script(src="scripts/routes.js", type=module)