html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="style.css")
        title Страница
    body
        div(id="main_screen")
        h1.main-title Библиотека
        div.main-page-part
            hr.divider(id="main_divider")
            div.library-block
                div.list-of-books-block(id="list_of_books_block")
                    div.title-and-button
                        h3.title-of-list Список книг:
                        button.add-new-book(id="add_new_book", onclick="scriptStart()") +Книга
                    div.list-of-books(id="list_of_books")
                        div.book-in-list-of-books(id="book_in_list_of_books")
                            div.book-title-and-author(id="book_title_and_author")
                                p.book-title(id="book_title") Название книги
                                p.book-author(id="book_author") Автор книги
                            div.book-status-and-actions(id="book_status_and_actions")
                                p.book-status(id="book_status") Просрочена
                                div.book-actions(id="book_actions")
                                    img.book-action-icon(id="book_action_add", src="ic_add_book.png")
                                    img.book-action-icon(id="book_action_remove", src="ic_remove_book.png")
                div.list-of-filters-block(id="list_of_filters_block")
                    h3.title-of-list Фильтры:
                    p.filter-title Название содержит:
                    input.filter-input-text(type="text", placeholder="Не выбрано")
                    p.filter-title ФИО автора содержит:
                    input.filter-input-text(type="text", placeholder="Не выбрано")
                    p.filter-title Возврат к дате:
                    input.filter-input-date(type="date")
                    div.filter-list-of-status-block
                        p.filter-title Статус книги:
                        div.filter-list-of-status
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_in_stock", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_in_stock") В наличии
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_unavailable", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_unavailable") Занята
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_overdue", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_overdue") Просрочена

                    button.filter-accept ПРИНЯТЬ
        script(src="scripts/index.js")
        script(src="scripts/TableRowBook.js")
        script(src="scripts/routes.js")
