div.main-page-part {
    width: 80%;
    margin: 0 auto;
}

h1.main-title {
    text-align: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 60px
}

hr.divider {
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    height: 1px;
    width: 80%;
    display: block;
}

h4.page-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
}

p.average-title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.87);
}

dialog.take-book-enter-info-dialog {
    position: center;
    display: none;
}

form.take-book-enter-info-form {
    display: flex;
    flex-direction: column;
}
